In [18]:
import pandas as pd
import numpy as np

df = pd.read_csv("assignment_3_dataset.csv")


    Subject ID (person),
    Programming language (lang),
    Run time for z1000 input file in minutes (z1000t),
    Run time for z0 input file in minutes (z0t),
    Memory consumption at the end of run for z1000 input file in kilobytes (z1000mem),
    Program length in statement lines of code (stmtL),
    Output reliability for z1000 input file in percent (z1000rel),
    Output reliability for m1000 input file in percent (m1000rel),
    Total subject work time in hours (whours),
    Subject’s answer to the capability question “I consider myself to be among the top X percent of all programmers” (caps).

In [19]:
df.head()

,Unnamed: 0,person,lang,z1000t,z0t,z1000mem,stmtL,z1000rel,m1000rel,whours,caps
0,3,s066,C,0.750,0.467,2952,7.3,98.48,100.0,7.3,??
1,13,s051,C++,0.150,0.033,3448,15.2,100.00,98.4,15.2,??
2,9,s027,c++,1.533,0.000,3472,25.3,98.09,100.0,25.3,??
3,14,s090,C++,1.667,0.033,4152,19.6,98.48,100.0,19.6,??
4,15,s096,C++,0.917,0.017,5240,6.9,100.00,100.0,6.9,??

## Cleaning and normalization 
---
1. The 'caps' column has "??" and emtpy values which are normalized to not answered
2. Fixing 'lang' spelling inconsistencies with capital and non capital spellings.
3. Fixing empty cells in "z1000t" where empty cells should be 0, Converting all values to floats & rounding to 3 decimals.
4. Fixing empty cells in "stmlL" empty cells to *not answered*, and rounding all values upwards and into ints. Since you can't have 0 lines of code or 0.4 lines of code.
5. For both "z1000rel" and "m1000rel" normalized to make all value float with 2 decimals.
6. For "whours" for each missing cell set a 0, also use consistancy and use floats with 1 decimal for all values.

In [20]:
# 1. Caps has ?? and empty values 

na = "not answered"

df['caps'] = df['caps'].replace("??", na)
df['caps'] = df['caps'].replace("", na)
df['caps'] = df['caps'].fillna(na) 

#Verfication 
df['caps'].value_counts(dropna=False)

caps
not answered    42
10-25%          15
0-10%           14
25-40%           4
40-60%           3
60-75%           2
Name: count, dtype: int64

In [21]:
# 2.Lang has spelling inconsistencies with captial and non capital letters

df['lang'] = df['lang'].str.capitalize()
df['lang'].value_counts(dropna=False)

lang
Java      24
Python    13
Perl      13
C++       11
Tcl       10
C          5
Rexx       4
Name: count, dtype: int64

In [22]:
# Replace empty strings and NaN with "not answered"
df['z1000t'] = df['z1000t'].replace("", "not answered").fillna("not answered")

# Optionally, convert numeric values to float where possible (without touching "not answered")
df['z1000t_numeric'] = pd.to_numeric(df['z1000t'], errors='coerce').round(3)

# Count values including "not answered"
df['z1000t'].value_counts(dropna=False)

z1000t
not answered    5
0.267           5
0.2             4
0.083           3
0.65            2
0.35            2
0.033           2
0.25            2
0.617           2
0.117           2
0.15            2
21.4            2
0.467           2
0.05            2
0.167           2
3.783           1
2.2             1
16.8            1
1.333           1
0.567           1
1.7             1
0.683           1
0.75            1
31.2            1
37.1            1
0.633           1
0.967           1
202.8           1
1.467           1
30.1            1
6.467           1
0.317           1
0.283           1
0.483           1
4.15            1
21.0            1
0.017           1
0.333           1
1.533           1
1.667           1
0.917           1
4.867           1
1.983           1
0.817           1
20.9            1
0.183           1
0.733           1
72.3            1
0.133           1
0.45            1
0.783           1
1.583           1
29.4            1
67.5            1
25.4            1
2.633           1
Name: count, dtype: int64

In [23]:
# stml 

df['stmtL'] = df['stmtL'].replace('', np.nan)

df['stmtL'] = df['stmtL'].fillna("not answered")

df['stmtL_numeric'] = pd.to_numeric(df['stmtL'], errors='coerce')

#df['stmtL_numeric'] = np.ceil(df['stmtL_numeric'])

df['stmtL_numeric'] = df['stmtL_numeric'].fillna("not answered")

df['stmtL'] = df['stmtL_numeric'].astype(str)
df = df.drop(columns=['stmtL_numeric'])

df['stmtL'].value_counts(dropna=False)

stmtL
7.0             3
not answered    3
3.0             3
7.3             2
2.83            2
               ..
10.0            1
15.2            1
18.1            1
16.1            1
7.1             1
Name: count, Length: 64, dtype: int64

In [24]:
# === z1000rel === 

# Convert all values to floats 
df['z1000rel'] = pd.to_numeric(df['z1000rel'], errors='coerce').fillna(0)

#Round to 3 decmial for consistency
df['z1000rel'] = df['z1000rel'].round(2)


# === m1000rel === #

# Convert all values to floats 
df['m1000rel'] = pd.to_numeric(df['m1000rel'], errors='coerce').fillna(0)

#Round to 3 decmial for consistency
df['m1000rel'] = df['m1000rel'].round(2)

df['z1000rel'].value_counts(dropna=False)


df['m1000rel'].value_counts(dropna=False)

m1000rel
100.0    37
10.2     15
98.4     14
0.0       3
1.1       1
89.5      1
92.1      1
98.9      1
46.6      1
96.8      1
96.3      1
90.9      1
97.9      1
6.6       1
10.1      1
Name: count, dtype: int64

In [33]:
# Convert to numeric, non-numeric and empty strings become NaN
df['whours_numeric'] = pd.to_numeric(df['whours'], errors='coerce')

# Round numeric values
df['whours_numeric'] = df['whours_numeric'].round(1)

# Fill missing values with 'not answered'
df['whours'] = df['whours_numeric'].fillna("not answered").astype(str)

# Optional: drop helper column
df = df.drop(columns=['whours_numeric'])

# Check value counts
df['whours'].value_counts(dropna=False)

whours
7.0             3
3.8             3
not answered    3
3.0             3
4.8             2
               ..
8.0             1
19.6            1
18.1            1
16.1            1
7.1             1
Name: count, Length: 61, dtype: int64

In [40]:
# Remove the outliers as they are deemed as mistake values

#For each with excessive whours they have the same amount in stmL
df['stmtL'] = pd.to_numeric(df['stmtL'], errors='coerce')
df['whours'] = pd.to_numeric(df['whours'], errors='coerce')
# Pick these and list them

outliers = df[
    (df["stmtL"] == df["whours"]) &
    (df["stmtL"] >= 34632)
]

outliers

#o = df[(df["stmtL"] == df["whours"]) & (df["stmtL"] >= 34632)].round(3)
#df_clean = df.drop(o.index)
#df_clean.describe()

,Unnamed: 0,person,lang,z1000t,z0t,z1000mem,stmtL,z1000rel,m1000rel,whours,caps,z1000t_numeric
51,28,s060,Java,3.783,0.100,29432,131342.0,98.85,96.3,131342.0,not answered,3.783
53,70,s149401,Tcl,not answered,0.567,32400,34632.0,100.00,100.0,34632.0,10-25%,NaN
67,33,s072,Java,30.1,0.067,52272,43637.0,100.00,100.0,43637.0,not answered,30.100

In [27]:
#https://www.youtube.com/watch?v=GQPEa67pNjY&pp=ygUZa2Vyc2NodGkgZGV0IMOkciBvcmltbGlndA%3D%3D
print((34632 / 40) / 52)

16.65

## Exploratory Data Analysis

---

- Take average lines of code per language and average workhours and compare

In [28]:
df

,Unnamed: 0,person,lang,z1000t,z0t,z1000mem,stmtL,z1000rel,m1000rel,whours,caps,z1000t_numeric
0,3,s066,C,0.75,0.467,2952,7.30,98.48,100.0,7.3,not answered,0.750
1,13,s051,C++,0.15,0.033,3448,15.20,100.00,98.4,15.2,not answered,0.150
2,9,s027,C++,1.533,0.000,3472,25.30,98.09,100.0,25.3,not answered,1.533
3,14,s090,C++,1.667,0.033,4152,19.60,98.48,100.0,19.6,not answered,1.667
4,15,s096,C++,0.917,0.017,5240,6.90,100.00,100.0,6.9,not answered,0.917
...,...,...,...,...,...,...,...,...,...,...,...,...
75,41,s149102,Perl,21.4,0.417,73440,1.67,0.00,0.0,1.7,10-25%,21.400
76,46,s149108,Perl,0.483,0.433,73448,2.83,100.00,100.0,2.8,10-25%,0.483
77,34,s081,Java,0.2,0.150,79544,26.60,100.00,10.2,26.6,not answered,0.200
78,17,s023,Java,2.633,0.650,89664,7.10,7.60,98.4,7.1,not answered,2.633
79,63,s149211,Python,not answered,1.150,91120,NaN,98.48,10.2,NaN,40-60%,NaN

In [29]:
df['stmtL'] = pd.to_numeric(df['stmtL'], errors='coerce')

# Group by language and calculate the mean
lang_summary = df.groupby('lang')[['stmtL', 'whours']].mean()

lang_summary

              stmtL       whours
lang
C          9.300000     9.300000
C++       11.420000    11.420000
Java    7305.066667  7305.066667
Perl       3.378462     3.384615
Python     3.205000     3.200000
Rexx       5.482500     5.475000
Tcl     3852.192222  3852.200000

This shows the tha average lines of code and average workhours spent per language where we also can see that Java and TCL have significantly larger work hours and large code bases. We can also se a correlation between lines of code and work hours.

In [30]:
# Exlude outliers
stmtL_cutoff = 131342
whours_cutoff = 34632

# Filter out extreme outliers
filtered_df = df[(df['stmtL'] < stmtL_cutoff) & (df['whours'] < whours_cutoff)]

# Recalculate means without outliers
filtered_summary = filtered_df.groupby('lang')[['stmtL', 'whours']].mean()

filtered_summary

            stmtL     whours
lang
C        9.300000   9.300000
C++     11.420000  11.420000
Java    15.572727  15.572727
Perl     3.378462   3.384615
Python   3.205000   3.200000
Rexx     5.482500   5.475000
Tcl      4.716250   4.725000

Exluding the outliers gives a bit more comparable data to the other progamming languages.

In [31]:
df[['stmtL', 'whours']].describe()

               stmtL         whours
count      77.000000      77.000000
mean     2730.601818    2730.602597
std     16132.743573   16132.743439
min         0.000000       0.000000
25%         3.000000       3.000000
50%         6.170000       6.200000
75%        10.900000      10.900000
max    131342.000000  131342.000000

In [32]:
# Convert to numeric, invalid entries become NaN
df['z1000mem'] = pd.to_numeric(df['z1000mem'], errors='coerce')

# Mean, median, max memory usage per language
memory_summary = df_mem.groupby('lang')['z1000mem'].agg(['mean', 'median', 'max','min', 'count']).sort_values('mean', ascending=False)
memory_summary

NameError: name 'df_mem' is not defined

## Correlation Analysis

---

In [ ]:

corr = df[['stmtL', 'whours', 'z1000t', 'z1000mem']].corr(method='pearson')

import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(6,4))
sns.heatmap(corr, annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()

corr_filtered = filtered_df[['stmtL', 'whours', 'z1000t', 'z1000mem']].corr(method='pearson')
sns.heatmap(corr_filtered, annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap (Without Outliers)')
plt.show()

| Pearson correlation coefficient (r) value | Strength  | Direction |
|--------------------------------------------|------------|------------|
| Greater than .5                            | Strong     | Positive   |
| Between .3 and .5                          | Moderate   | Positive   |
| Between 0 and .3                           | Weak       | Positive   |
| 0                                          | None       | None       |
| Between 0 and –.3                          | Weak       | Negative   |
| Between –.3 and –.5                        | Moderate   | Negative   |
| Less than –.5                              | Strong     | Negative   |

- Based on the above table we can see that for both heat maps there is a strong correlation between whours and stmtL.
- Other correlation in both cases are weak. With the difference with the outliers filtered the weak positive correlation become weak negative ones.

## Hypothesis Testing

---
#### Hypothesis 
1. The more lines of code the more working hours are spent.
2. Individuals whom see themselves as over 60% of programms produce more lines of code per hour.

In [ ]:
#1

from scipy.stats import pearsonr

# Drop rows with missing values in either column
clean_df = df[['stmtL', 'whours']].dropna()

pearson_corr, p_val = pearsonr(clean_df['stmtL'], clean_df['whours'])
print(f"Pearson r = {pearson_corr:.3f}, p-value = {p_val:.3f}")

In [ ]:
#2. 
import scipy.stats as stats

# Create a new column for productivity
df['loc_per_hour'] = df['stmtL'] / df['whours']

# Drop NaN or infinite values
df = df.replace([np.inf, -np.inf], np.nan).dropna(subset=['loc_per_hour', 'caps'])

# Group data by caps
groups = [group['loc_per_hour'].values for name, group in df.groupby('caps')]
# ANOVA
f_stat, p_val = stats.f_oneway(*groups)
print(f"F-statistic = {f_stat:.3f}, p-value = {p_val:.3f}")

**Claim: The more lines of code, the more working hours are spent.**

- HO:There is no correlation between lines of code (stmtL) and working hours (whours).
- H1:There is a positive correlation — more lines of code → more hours worked.

Analysis output: Pearson r = 1.000, p-value = 0.000

r = 1.000 which shows a perfect *positive* correlation. This means that as the number of lines of code increases, working hours increas in an almost a perfect linear way. 
since p < 0.05 the resuls is statistically significant. 

**Conclusion**: Reject H0.
There is strong evidence of a perfect positive relationship between lines of code and working hours. In other words, programmers who write more lines of code also spend more time coding. 

---

**Claim: Indiciduals who see themselves as over 60% of programmers produce more lines of code per hour.**

- H0: The mean lines of code per hour (loc_per_hour) are equal acress self-assessed skill levels (caps) 
- H1: At least one group differs in productivty (e.g., those who rate themselves >60% differ from others). 

Analysis output: F-statistic = 2.924, p-value = 0.019

- **F-value** shows some variation between group means and relative to within-group variation.
- **p-value** shows the result is statistically significant.

**Conclusion**: Reject H0.
There is evidence of a difference in productivity (LOC/hour) between self-assessment groups. 
Specifically, those who rate themselves above 60% likely produce more lines of code per hour compared to others.

In [ ]:
# Total reliability as a simple sum of z1000rel + m1000rel
df['total_rel'] = df['z1000rel'] + df['m1000rel']


# Group by programming language and calculate average total reliability
lang_performance = (df.groupby('lang')['total_rel'].mean().sort_values(ascending=False)/2)

print("Average total reliability by language: (out of 100%)")
print(lang_performance)

inconsistencies

whours == stmtL
stmtL == floats